* {
  margin: 0;
  box-sizing: border-box;
}

#page {
  width: 80%;
  margin: 0 auto;
}

.main-header {
  height: 100px;
  background: red;
  text-align: center;
}

#main-menu {
  margin: 0;
  padding: 13px;
  background: grey;
  text-align: center;
}

#main-menu li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  border-bottom: 100px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
  width: calc(100% / 3);
  background: purple;
  height: 500px;
}

.col:nth-child(2) {
  background: green;
}

.col:nth-child(3) {
  background: blue;
}

.main-footer {
  background: yellow;
  height: 50px;
}
